<%= form.error_messages %>

<p>
  <%= form.label "Team" %><br />
  <%= form.select :team_sex, @signup.TEAM_SEXES %>
</p>
<p>
  <%= form.label :coach_name %><br />
  <%= form.text_field :coach_name %>
</p>
<p>
  <%= form.label :coach_phone %><br />
  <%= form.text_field :coach_phone %>
</p>
<p>
  <%= form.label :coach_address %><br />
  <%= form.text_field :coach_address %>
</p>
<p>
  <%= form.label :coach_email %><br />
  <%= form.text_field :coach_email %>
</p>
<p>
  <%= form.label :player1_name %><br />
  <%= form.text_field :player1_name %>
</p>
<p>
  <%= form.label :player1_address %><br />
  <%= form.text_field :player1_address %>
</p>
<p>
  <%= form.label :player1_phone %><br />
  <%= form.text_field :player1_phone %>
</p>
<p>
  <%= form.label :player1_email %><br />
  <%= form.text_field :player1_email %>
</p>
<p>
  <%= form.label "Player1 birthday" %><br />
  <%= form.select :player1_dob_month, @signup.DOB_MONTHS %>
  <%= form.select :player1_dob_day, @signup.DOB_DAYS %>
  <%= form.select :player1_dob_year, @signup.DOB_YEARS %>
</p>
<p>
  <%= form.label :player2_name %><br />
  <%= form.text_field :player2_name %>
</p>
<p>
  <%= form.label :player2_address %><br />
  <%= form.text_field :player2_address %>
</p>
<p>
  <%= form.label :player2_phone %><br />
  <%= form.text_field :player2_phone %>
</p>
<p>
  <%= form.label :player2_email %><br />
  <%= form.text_field :player2_email %>
</p>
<p>
  <%= form.label "Player2 birthday" %><br />
  <%= form.select :player2_dob_month, @signup.DOB_MONTHS %>
  <%= form.select :player2_dob_day, @signup.DOB_DAYS %>
  <%= form.select :player2_dob_year, @signup.DOB_YEARS %>
</p>
<p>
  <%= form.label :player3_name %><br />
  <%= form.text_field :player3_name %>
</p>
<p>
  <%= form.label :player3_address %><br />
  <%= form.text_field :player3_address %>
</p>
<p>
  <%= form.label :player3_phone %><br />
  <%= form.text_field :player3_phone %>
</p>
<p>
  <%= form.label :player3_email %><br />
  <%= form.text_field :player3_email %>
</p>
<p>
  <%= form.label "Player3 birthday" %><br />
  <%= form.select :player3_dob_month, @signup.DOB_MONTHS %>
  <%= form.select :player3_dob_day, @signup.DOB_DAYS %>
  <%= form.select :player3_dob_year, @signup.DOB_YEARS %>
</p>
<p>
  <%= form.label :player4_name %><br />
  <%= form.text_field :player4_name %>
</p>
<p>
  <%= form.label :player4_address %><br />
  <%= form.text_field :player4_address %>
</p>
<p>
  <%= form.label :player4_phone %><br />
  <%= form.text_field :player4_phone %>
</p>
<p>
  <%= form.label :player4_email %><br />
  <%= form.text_field :player4_email %>
</p>
<p>
  <%= form.label "Player4 birthday" %><br />
  <%= form.select :player4_dob_month, @signup.DOB_MONTHS %>
  <%= form.select :player4_dob_day, @signup.DOB_DAYS %>
  <%= form.select :player4_dob_year, @signup.DOB_YEARS %>
</p>
