<%= form.error_messages %>

<table class="signup"><tr>

<td width=220px><h2>Team</h2>
<p>
  <!-- <%= form.label "Team" %><br /> -->
  <%= form.select :team_sex, @signup.TEAM_SEXES %>
</p>
</td>

<td><h2>Coach</h2>
<table>
	<tr>
		<td><%= form.label "Name" %></td>
		<td><%= form.text_field :coach_name %></td>
	</tr>
	<tr>
	  	<td><%= form.label "Phone" %></td>
	  	<td><%= form.text_field :coach_phone %></td>
	</tr>
	<tr>
	  	<td><%= form.label "Email" %></td>
	  	<td><%= form.text_field :coach_email %></td>
	</tr>
	<tr>
	  	<td><%= form.label "Address" %></td>
	  	<td><%= form.text_field :coach_address %></td>
	</tr>
</table>
</td>

</tr></table>

<h2>Players</h2>
<table>
	<tr>
		<th>Name</th>
		<th colspan=3>Birthday</th>
		<th>Phone</th>
		<th>Email</th>
		<th>Address</th>
	</tr>
	<tr>
		<td><%= form.text_field :player1_name %></td>
	  	<td><%= form.select :player1_dob_month, @signup.DOB_MONTHS %></td>
	  	<td><%= form.select :player1_dob_day, @signup.DOB_DAYS %></td>
	  	<td><%= form.select :player1_dob_year, @signup.DOB_YEARS %></td>
	  	<td><%= form.text_field :player1_phone %></td>
	  	<td><%= form.text_field :player1_email %></td>
	  	<td><%= form.text_field :player1_address %></td>
	</tr>
	<tr>
		<td><%= form.text_field :player2_name %></td>
	  	<td><%= form.select :player2_dob_month, @signup.DOB_MONTHS %></td>
	  	<td><%= form.select :player2_dob_day, @signup.DOB_DAYS %></td>
	  	<td><%= form.select :player2_dob_year, @signup.DOB_YEARS %></td>
	  	<td><%= form.text_field :player2_phone %></td>
	  	<td><%= form.text_field :player2_email %></td>
	  	<td><%= form.text_field :player2_address %></td>
	</tr>
	<tr>
		<td><%= form.text_field :player3_name %></td>
	  	<td><%= form.select :player3_dob_month, @signup.DOB_MONTHS %></td>
	  	<td><%= form.select :player3_dob_day, @signup.DOB_DAYS %></td>
	  	<td><%= form.select :player3_dob_year, @signup.DOB_YEARS %></td>
	  	<td><%= form.text_field :player3_phone %></td>
	  	<td><%= form.text_field :player3_email %></td>
	  	<td><%= form.text_field :player3_address %></td>
	</tr>
	<tr>
		<td><%= form.text_field :player4_name %></td>
	  	<td><%= form.select :player4_dob_month, @signup.DOB_MONTHS %></td>
	  	<td><%= form.select :player4_dob_day, @signup.DOB_DAYS %></td>
	  	<td><%= form.select :player4_dob_year, @signup.DOB_YEARS %></td>
	  	<td><%= form.text_field :player4_phone %></td>
	  	<td><%= form.text_field :player4_email %></td>
	  	<td><%= form.text_field :player4_address %></td>
	</tr>
</table>
