<% content_for :title, "Payment Due" %>

<table class="signup"><tr>

<td width=220px><h2>Team</h2>
<%=h @signup.team_sex %>
</td>

<td><h2>Coach</h2>
<table>
	<tr>
		<td>Name</td>
		<td><%=h @signup.coach_name %></td>
	</tr>
	<tr>
	  	<td>Phone</td>
	  	<td><%=h @signup.coach_phone %></td>
	</tr>
	<tr>
	  	<td>Email</td>
	  	<td><%=h @signup.coach_email %></td>
	</tr>
	<tr>
	  	<td>Address</td>
	  	<td><%=h @signup.coach_address %></td>
	</tr>
</table>
</td>

<td width=200px><h2>Paypal</h2>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="PB4JRJX5KEG7L">
	<table>
	<tr><td><input type="hidden" name="on0" value="Registration Fees">Registration Fees</td></tr><tr><td><select name="os0">
	<option value="Ages 5-8">Ages 5-8 $65.00</option>
	<option value="Ages 9-18">Ages 9-18 $70.00</option>
	</select> </td></tr>
	</table>
	<input type="hidden" name="currency_code" value="USD">
	<input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>	
</td>

<td width=200px>
<h2>Check</h2>
Address Line 1<br />
Address Line 2<br />
Address Line 3
</td>

</tr></table>

<h2>Players</h2>
<table>
	<tr>
		<th>Name</th>
		<th>Birthday</th>
		<th>Phone</th>
		<th>Email</th>
		<th>Address</th>
	</tr>
	<tr>
  		<td><%=h @signup.player1_name %></td>
	  	<td><%=h "#{@signup.player1_dob_month}/#{@signup.player1_dob_day}/#{@signup.player1_dob_year}" %></td>
	  	<td><%=h @signup.player1_address %></td>
	  	<td><%=h @signup.player1_phone %></td>
	  	<td><%=h @signup.player1_email %></td>
	</tr>
	<tr>
  		<td><%=h @signup.player2_name %></td>
	  	<td><%=h "#{@signup.player2_dob_month}/#{@signup.player2_dob_day}/#{@signup.player2_dob_year}" %></td>
	  	<td><%=h @signup.player2_address %></td>
	  	<td><%=h @signup.player2_phone %></td>
	  	<td><%=h @signup.player2_email %></td>
	</tr>
	<tr>
  		<td><%=h @signup.player3_name %></td>
	  	<td><%=h "#{@signup.player3_dob_month}/#{@signup.player3_dob_day}/#{@signup.player3_dob_year}" %></td>
	  	<td><%=h @signup.player3_address %></td>
	  	<td><%=h @signup.player3_phone %></td>
	  	<td><%=h @signup.player3_email %></td>
	</tr>
	<% if !@signup.player4_name.empty? %>
	<tr>
  		<td><%=h @signup.player4_name %></td>
	  	<td><%=h "#{@signup.player4_dob_month}/#{@signup.player4_dob_day}/#{@signup.player4_dob_year}" %></td>
	  	<td><%=h @signup.player4_address %></td>
	  	<td><%=h @signup.player4_phone %></td>
	  	<td><%=h @signup.player4_email %></td>
	</tr>
	<% end %>
</table>

<% if @auth_global %>
	<%= link_to 'Edit', edit_signup_path(@signup) %> |
	<%= link_to 'Back', signups_path %>
<% end %>