<p>
  <b>Team:</b>
  <%=h @signup.team_sex %>
</p>

<p>
  <b>Coach name:</b>
  <%=h @signup.coach_name %>
</p>

<p>
  <b>Coach phone:</b>
  <%=h @signup.coach_phone %>
</p>

<p>
  <b>Coach address:</b>
  <%=h @signup.coach_address %>
</p>

<p>
  <b>Coach email:</b>
  <%=h @signup.coach_email %>
</p>

<p>
  <b>Player1 name:</b>
  <%=h @signup.player1_name %>
</p>

<p>
  <b>Player1 address:</b>
  <%=h @signup.player1_address %>
</p>

<p>
  <b>Player1 phone:</b>
  <%=h @signup.player1_phone %>
</p>

<p>
  <b>Player1 email:</b>
  <%=h @signup.player1_email %>
</p>

<p>
  <b>Player1 dob month:</b>
  <%=h @signup.player1_dob_month %>
</p>

<p>
  <b>Player1 dob day:</b>
  <%=h @signup.player1_dob_day %>
</p>

<p>
  <b>Player1 dob year:</b>
  <%=h @signup.player1_dob_year %>
</p>

<p>
  <b>Player2 name:</b>
  <%=h @signup.player2_name %>
</p>

<p>
  <b>Player2 address:</b>
  <%=h @signup.player2_address %>
</p>

<p>
  <b>Player2 phone:</b>
  <%=h @signup.player2_phone %>
</p>

<p>
  <b>Player2 email:</b>
  <%=h @signup.player2_email %>
</p>

<p>
  <b>Player2 dob month:</b>
  <%=h @signup.player2_dob_month %>
</p>

<p>
  <b>Player2 dob day:</b>
  <%=h @signup.player2_dob_day %>
</p>

<p>
  <b>Player2 dob year:</b>
  <%=h @signup.player2_dob_year %>
</p>

<p>
  <b>Player3 name:</b>
  <%=h @signup.player3_name %>
</p>

<p>
  <b>Player3 address:</b>
  <%=h @signup.player3_address %>
</p>

<p>
  <b>Player3 phone:</b>
  <%=h @signup.player3_phone %>
</p>

<p>
  <b>Player3 email:</b>
  <%=h @signup.player3_email %>
</p>

<p>
  <b>Player3 dob month:</b>
  <%=h @signup.player3_dob_month %>
</p>

<p>
  <b>Player3 dob day:</b>
  <%=h @signup.player3_dob_day %>
</p>

<p>
  <b>Player3 dob year:</b>
  <%=h @signup.player3_dob_year %>
</p>

<p>
  <b>Player4 name:</b>
  <%=h @signup.player4_name %>
</p>

<p>
  <b>Player4 address:</b>
  <%=h @signup.player4_address %>
</p>

<p>
  <b>Player4 phone:</b>
  <%=h @signup.player4_phone %>
</p>

<p>
  <b>Player4 email:</b>
  <%=h @signup.player4_email %>
</p>

<p>
  <b>Player4 dob month:</b>
  <%=h @signup.player4_dob_month %>
</p>

<p>
  <b>Player4 dob day:</b>
  <%=h @signup.player4_dob_day %>
</p>

<p>
  <b>Player4 dob year:</b>
  <%=h @signup.player4_dob_year %>
</p>


<%= link_to 'Edit', edit_signup_path(@signup) %> |
<%= link_to 'Back', signups_path %>